<div class="container">
  <div class="show-header">
    <h1><%= @task.title %></h1>
    <%= link_to "Edit this task", edit_path(@task.id), class: 'btn btn-primary' %>
  </div>

  <div class='show-details'><%= @task.details %></div>

  <div class="show-cb">
    <input type="checkbox" id="task" class="readonly" <%= 'checked' if @task.completed %>>
    <label for="task" class="readonly">This task is not competed yet</label>
  </div>
</div>

<div><%= link_to "Back to list", root_path, class: 'btn-back' %></div>